<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="container">
      <div class="page-content">
        <h1 class="pt-3 text-center custom-title-font">
          Welcome to the Veterinary Clinic.<br />
          Where Pets Feel at Home!
        </h1>

        <div
          id="carouselExampleCaptions"
          class="carousel slide carousel-width mx-auto pt-3"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="5"
              aria-label="Slide 6"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="6"
              aria-label="Slide 7"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/services">
                <img
                  src="https://www.wdc.govt.nz/files/sharedassets/public/v/1/image-collection/animals/roxy-redtag-oc8.png?dimension=pageimage&w=480"
                  class="d-block w-100 carousel-images"
                  alt="Dog"
                />
              </a>
              <div class="carousel-caption carousel-cap d-none d-md-block">
                <h4><span class="customize-image-text">Small pets</span></h4>
                <h5><span class="customize-image-text2">Dogs</span></h5>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/services">
                <img
                  src="https://www.hartz.com/wp-content/uploads/2023/07/why-do-cats-have-whiskers-1.jpg"
                  class="d-block w-100 carousel-images"
                  alt="Cat"
                />
              </a>
              <div class="carousel-caption carousel-cap d-none d-md-block">
                <h4><span class="customize-image-text">Small pets</span></h4>
                <h5><span class="customize-image-text2">Cats</span></h5>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/services">
                <img
                  src="https://stkittsvet.co.uk/wp-content/uploads/2013/11/senior-rabbit.jpg"
                  class="d-block w-100 carousel-images"
                  alt="rabbit"
                />
              </a>
              <div class="carousel-caption carousel-cap d-none d-md-block">
                <h4><span class="customize-image-text">Pet Rodents</span></h4>
                <h5><span class="customize-image-text2">Rabbits</span></h5>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/services">
                <img
                  src="https://i.guim.co.uk/img/media/a30b3f7097875ec21674bc32374e55cdf0734ea9/0_212_6933_4162/master/6933.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=9bc2ba1f838c7ca5fd378de3f1593c23"
                  class="d-block w-100 carousel-images"
                  alt="parrot"
                />
              </a>
              <div class="carousel-caption carousel-cap d-none d-md-block">
                <h4><span class="customize-image-text">Songbirds</span></h4>
                <h5><span class="customize-image-text2">Parrots</span></h5>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/services">
                <img
                  src="https://supremepetfoods.com/wp-content/uploads/2020/07/Hamster-1200px-1.jpg"
                  class="d-block w-100 carousel-images"
                  alt="hamster"
                />
              </a>
              <div class="carousel-caption carousel-cap d-none d-md-block">
                <h4><span class="customize-image-text">Pet Rodents</span></h4>
                <h5><span class="customize-image-text2">Hamsters</span></h5>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/services">
                <img
                  src="https://independentaustralia.net/_lib/slir/w800/i/article/img/article-16544-hero.jpg"
                  class="d-block w-100 carousel-images"
                  alt="snake"
                />
              </a>
              <div class="carousel-caption carousel-cap d-none d-md-block">
                <h4><span class="customize-image-text">Pet reptiles</span></h4>
                <h5><span class="customize-image-text2">Snakes</span></h5>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/services">
                <img
                  src="https://www.earthandanimals.com/files/547756/catitems/Iguana-8e85790f9d0682ddf0bcc7abf86c2383.jpg"
                  class="d-block w-100 carousel-images"
                  alt="iguana"
                />
              </a>
              <div class="carousel-caption carousel-cap d-none d-md-block">
                <h4><span class="customize-image-text">Exotic Pets</span></h4>
                <h5><span class="customize-image-text2">Iguanas</span></h5>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container mt-4 pt-3">
      <div class="row centered-cards">
        <div class="col-md-5 mb-4">
          <a href="/services">
            <img
              class="card-img-top card-images ps-auto"
              src="https://www.hepper.com/wp-content/uploads/2023/07/vet-checking-a-samoyeds-heartbeat_hedgehog94_Shutterstock.jpg"
              alt="Services picture"
            />
          </a>
          <div class="card-body text-center">
            <a href="/services" class="card-title h5">Services</a>
          </div>
        </div>
        <div class="col-md-5 mb-4">
          <a href="/news">
            <img
              class="card-img-top unfit-image"
              src="https://static.vecteezy.com/system/resources/previews/001/760/457/original/megaphone-loudspeaker-making-announcement-vector.jpg"
              alt="News picture"
            />
          </a>
          <div class="card-body text-center">
            <a href="/news" class="card-title h5">News</a>
          </div>
        </div>
        <div class="col-md-5 mb-4">
          <a href="/Contact-us">
            <img
              class="card-img-top card-images"
              src="https://www.creativefabrica.com/wp-content/uploads/2021/06/16/Call-customer-support-contact-us-icon-Graphics-13498522-1.jpg"
              alt="Contact us picture"
            />
          </a>
          <div class="card-body text-center">
            <a href="/contact-us" class="card-title h5">Contact us</a>
          </div>
        </div>
        <% if(username == '') { %> 
          <div class="col-md-5 mb-4">
            <a href="/log-in">
              <img
                class="card-img-top unfit-image"
                src="https://cdn-icons-png.flaticon.com/512/6432/6432229.png"
                alt="Register / Login"
              />
            </a>
            <div class="card-body text-center">
              <a href="/log-in" class="card-title h5">Register / Login</a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <br />
    <br />
    <br />

    <div class="footer"><%- include('../partials/footer'); %></div>
  </body>
</html>
