<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="news-articles">
      <%- include('../partials/navbar'); %>

      <h1 class="pt-3 text-center custom-title-font">News Page</h1>

      <img
        src="https://www.searchenginejournal.com/wp-content/uploads/2020/04/should-you-discount-your-seo-services-because-of-coronavirus-5e8c7fb2d5d72.png"
        class="card-img-top news-card"
        alt="discount pic"
      />

      <div class="card mb-3 text-center">
        <div class="card-body">
          <h4 class="card-title">
            Exclusive Discounts on Veterinary Services for New Clients
            <i class="fa-solid fa-tags"></i>
          </h4>
          <p class="card-text">
            We're offering exclusive discounts on veterinary services for new
            clients! Take advantage of special offers on wellness check-ups,
            vaccinations, and more. Our experienced team is committed to
            providing top-notch care for your pets. Schedule your appointment
            today!
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <br /><br /><br />

      <img
        src="https://www.verveinnovation.au/wp-content/uploads/2022/02/website-design.png"
        class="card-img-top news-card"
        alt="discount pic"
      />

      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">
            Our Veterinary Website Has Been Redesigned for a User-Friendly
            Experience
          </h4>
          <p class="card-text">
            You can freely go around our site and exprerience the new feautures
            and design.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 6 mins ago</small>
          </p>
        </div>
      </div>
      <br /><br /><br />

      <img
        src="https://images.ctfassets.net/rt5zmd3ipxai/pKtkrNcwgT7Il6K8NOKk0/9f07874a2a9b1ee375d2e47006d76c0d/NVA_-_Liverpool_Village_Animal_Hospital_0562_-_Satellite_Location.jpg?fit=fill&fm=webp&h=480&w=782&q=72,%20https://images.ctfassets.net/rt5zmd3ipxai/pKtkrNcwgT7Il6K8NOKk0/9f07874a2a9b1ee375d2e47006d76c0d/NVA_-_Liverpool_Village_Animal_Hospital_0562_-_Satellite_Location.jpg?fit=fill&fm=webp&h=960&w=1564&q=72"
        class="card-img-top news-card"
        alt="discount pic"
      />

      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">We are opening a new shop!</h4>
          <p class="card-text">
            Our new clinic, named "Veterinary clinic - Pet Care" is equipped
            with the latest medical technology and it is managed by a team of
            experienced and dedicated veterinarians and support staff. Located
            conveniently in the heart of the Athens city, the clinic aims to
            provide accessible and high-quality veterinary services to the
            community.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 26 mins ago</small>
          </p>
        </div>
      </div>
    </div>
    <div class="footer"><%- include('../partials/footer'); %></div>
  </body>
</html>
