<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <h1 class="text-center">Services</h1>
    <p class="text-center">Welcome to the services</p>
    <div class="container m-auto me-5">
      <div class="card mb-3" style="max-width: 800px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://www.vettimes.co.uk/app/uploads/2019/08/vet_appt_Adobe_183639691_rosinka79.jpg"
              class="img-fluid rounded-start"
              alt="vet appointment"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body ps-2 pt-2">
              <h5 class="card-title">Appointment Scheduling</h5>
              <p class="card-text">
                You can book a visit to our clinic, ask questions or provide
                feedback to us through our
                <a href="/contact-us">contact page</a>.
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 43 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 800px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://www.okvets.com/wp-content/uploads/2023/09/bigstock-Vet-Examining-Dog-Puppy-At-Ve-469047853-scaled.jpg"
              class="img-fluid rounded-start"
              alt="vaccinations"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body ps-2 pt-2">
              <h5 class="card-title">Vaccinations</h5>
              <p class="card-text">
                Vaccinations protect our beloved pets from common infectious
                diseases and contribute to the overall well-being of the animal
                population. We offer very competitive prices and we await your
                booking soon!
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 4 hours ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 800px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://www.mountainroadvet.com/wp-content/uploads/sites/249/2022/03/iStock_000012678076XSmall.jpg"
              class="img-fluid rounded-start"
              alt="pet exams"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body ps-2 pt-2">
              <h5 class="card-title">Wellness Exams</h5>
              <p class="card-text">
                Regular check-ups help identify potential health issues early,
                allowing for prompt intervention. We offer fast, reliable and
                cheap check-ups for your pets.
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 23 hours ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 800px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://smb.ibsrv.net/imageresizer/image/article_manager/1200x1200/80765/440259/heroimage0.290456001638816647.jpg"
              class="img-fluid rounded-start"
              alt="dental care"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body ps-2 pt-2">
              <h5 class="card-title">Dental care</h5>
              <p class="card-text">
                Good dental hygiene is crucial for our pet's overall health and
                can prevent issues like periodontal disease.
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 4 days ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 800px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://s3.amazonaws.com/static.organiclead.com/Site-84fcbc67-c4cc-41ca-bb94-d100254c2905/blog/iStock_840646404_1.jpg"
              class="img-fluid rounded-start"
              alt="Nutritional Counseling"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body ps-2 pt-2">
              <h5 class="card-title">Nutritional Counseling</h5>
              <p class="card-text">
                We can educate and suggest all the pet owners on the importance
                of a balanced diet for their pet's well-being while keeping the
                pet's well being.
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 1 week ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 800px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://scontent.fath5-1.fna.fbcdn.net/v/t31.18172-8/27356164_10156498205472573_6746335724647606304_o.jpg?stp=dst-jpg_p526x296&_nc_cat=102&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=2YMpUqrF1ksAX-ZF2M0&_nc_ht=scontent.fath5-1.fna&oh=00_AfAPHHDwWSftaeetJdhBpkno0JuSU1kLaNd-fNUhzcFLVg&oe=65D5C905"
              class="img-fluid rounded-start"
              alt="Microchipping and Identification"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body ps-2 pt-2">
              <h5 class="card-title">Microchipping and Identification</h5>
              <p class="card-text">
                We provide microchipping services to help identify and reunite
                lost pets with their owners and offer information on proper
                identification methods and the importance of collars and tags.
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 1 week ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button class="clearmessages">
        <a href="/contact-us">Book a visit now!</a>
      </button>
    </div>
    <br /><br /><br /><br /><br /><br />

    <%- include('../partials/footer'); %>
  </body>
</html>
